:root {
  --bg-color: #eeeeee;
  --card-color: #ffffff;

  --primary-color: #c084fc;
  --primary-dark: #a855f7;
  --primary-light: #f3d7ff;

  --text-color: #111111;
  --text-color2: #111111;
  --text-light: #6b7280;

  --border-color: #1f1f1f;

  --success-color: #22c55e;
  --error-color: #ef4444;

  --shadow-sm: 0 8px 20px rgba(0, 0, 0, 0.06);
  --shadow-md: 0 18px 35px rgba(0, 0, 0, 0.08);

  --radius-sm: 10px;
  --radius-md: 18px;
  --radius-lg: 26px;

  --transition: 0.25s ease;
}

:root.dark-mode {
  --bg-color: #111111;
  --card-color: #1a1a1a;

  --primary-color: #d8b4fe;
  --primary-dark: #59139a;
  --primary-light: #2d193f;

  --text-color: #f8f8f8;
  --text-color2: #59139a;
  --text-light: #b6b6b6;

  --border-color: #f8f8f8;

  --success-color: #4ade80;
  --error-color: #fb7185;

  --shadow-sm: 0 8px 20px rgba(0, 0, 0, 0.3);
  --shadow-md: 0 18px 35px rgba(0, 0, 0, 0.45);
}